/* Reset :root */
:root {
  --font-size: 14px;

  --text-color-h: 235;
  --text-color-s: 12%;
  --text-color-l: 90%;

  --link-color-h: 190;
  --link-color-s: 100%;
  --link-color-l: 55%;

  --bg-color-h: 237;
  --bg-color-s: 31%;
  --bg-color-l: 11%;

  --code-color-h: 40;
}

/*
  Common
  https://github.com/sparanoid/root-variables/blob/master/app.css
*/

body {
  color: var(--text-color);
  font-family: var(--fontstack-prefix) var(--fontstack-sans-serif);
  font-size: var(--font-size);
  line-height: var(--line-height);
  padding: var(--space-xs);
  background: var(--bg-color);
  font-feature-settings: var(--font-features);
  text-size-adjust: none;
  text-rendering: optimizelegibility;
  image-rendering: optimizequality;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 120%;
}

p {
  margin-bottom: 1em;
}

pre,
code {
  font-family: var(--fontstack-monospace);
  color: var(--code-color);
}

.flex {
  display: flex;
}

.flex > div {
  flex: 1;
  height: calc(100vw / 13);
}

.background-wrap {
  padding: var(--space-xs);
  margin: calc(var(--space-xs) * -1);
  background: var(--text-color-50);
}

a {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
  background-image: linear-gradient(to right, #2de3d1, #18bdfe);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  color: var(--link-color-light);
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  color: var(--text-color);
  padding: .6em 1em;
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transition: all .2s ease;
}

input svg path,
button svg path {
  fill: currentColor;
}

input:focus,
button:focus {
  border-color: var(--link-color);
  box-shadow: 0 0 0 .15em var(--link-color-20);
  outline: none;
}

/*
 * Tippy.js
 *
 * Copied and modified from Hyper.AI WordPress theme
 * Converted to CSS online from https://www.sassmeister.com/
 */
.tooltip {
  outline: none;
}

.tippy-tooltip.light-theme, .tippy-tooltip.light-left-theme {
  color: var(--bg-color);
  box-shadow: 0 10px 10px -8px var(--text-color-10), 0 4px 4px -2px var(--text-color-10);
  background-color: var(--link-color);
}
.tippy-tooltip.light-theme .tippy-backdrop, .tippy-tooltip.light-left-theme .tippy-backdrop {
  background-color: var(--link-color);
}
.tippy-tooltip.light-theme .tippy-roundarrow, .tippy-tooltip.light-left-theme .tippy-roundarrow {
  fill: var(--link-color);
}
.tippy-tooltip.light-theme[x-placement^=top] .tippy-arrow, .tippy-tooltip.light-left-theme[x-placement^=top] .tippy-arrow {
  border-top: 8px solid var(--link-color);
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.tippy-tooltip.light-theme[x-placement^=bottom] .tippy-arrow, .tippy-tooltip.light-left-theme[x-placement^=bottom] .tippy-arrow {
  border-bottom: 8px solid var(--link-color);
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.tippy-tooltip.light-theme[x-placement^=left] .tippy-arrow, .tippy-tooltip.light-left-theme[x-placement^=left] .tippy-arrow {
  border-left: 8px solid var(--link-color);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.tippy-tooltip.light-theme[x-placement^=right] .tippy-arrow, .tippy-tooltip.light-left-theme[x-placement^=right] .tippy-arrow {
  border-right: 8px solid var(--link-color);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.tippy-tooltip.light-theme[data-animatefill], .tippy-tooltip.light-left-theme[data-animatefill] {
  background-color: transparent;
}
.tippy-tooltip.light-theme .tippy-content > *:last-child, .tippy-tooltip.light-left-theme .tippy-content > *:last-child {
  margin-bottom: 0;
}
.tippy-tooltip.light-theme .tippy-content a, .tippy-tooltip.light-left-theme .tippy-content a {
  color: var(--bg-color);
}
.tippy-tooltip.light-left-theme .tippy-content {
  text-align: left;
}
