.header-title {
  font-size: 2em;
  margin: 0;
}

/* Wrapper layout */
.search-panel__results {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto 300px;
  grid-template-areas: "searchbox searchbox" "stats stats" "hits sidebar";
}

@media (max-width: 960px) {
  .search-panel__results {
    grid-template-areas: "searchbox searchbox" "stats stats" "sidebar sidebar" "hits hits";
  }
}

#searchbox {
  grid-area: searchbox;
}

#search-stats {
  grid-area: stats;
}

#refinement-list {
  grid-area: sidebar;
}

#hits {
  grid-area: hits;
}

/* Search input */
.ais-SearchBox-form {
  display: flex;
  align-items: center;
}

.ais-SearchBox-form > * + * {
  margin-left: .5em;
}

.ais-SearchBox-input {
  flex: auto;
}

/* Result layout */
.ais-Hits-list {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
  word-break: break-word;
}

@media (max-width: 960px) {
  .ais-Hits-list {
    grid-template-columns: 1fr;
  }
}

.ais-Hits-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1ch;
  align-items: center;
  padding: .6em 1em;
  padding-left: var(--space-sm);
  margin-left: calc(var(--space-sm) * -1);
  border-bottom: 1px solid var(--text-color-10);
}

@media (max-width: 640px) {
  .ais-Hits-item {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 960px) {
  .ais-Hits-item {
    padding-right: var(--space-sm);
    margin-right: calc(var(--space-sm) * -1);
  }
}

.ais-Hits-item article {
  padding: .6em 0;
  border-bottom: 1px solid var(--text-color-5);
  transition: transform .2s ease, box-shadow .2s ease;
}

mark,
.ais-Highlight-highlighted,
.ais-Snippet-highlighted {
  color: var(--link-color-dark);
  background-image: linear-gradient(to right, #fffb10, #ffc710);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-color: transparent;
  border-bottom: 2px solid #ffc710;
  box-shadow: 0 2px 3px -3px #fffb10;
}

.ais-Hits-item:hover {
  background: var(--text-color-3);
}

.ais-Hits-item:hover h1 a {
  color: var(--link-color);
}

.ais-Hits-item h1 {
  margin: .2em 0;
  font-weight: normal;
}

.ais-Hits-item h1 a {
  color: var(--text-color);
}

.ais-Hits-item h1 .cc {
}

.ais-Hits-item .sponsor {
}

.ais-Hits-item .href {
  color: var(--text-color-40);
}

.ais-Hits-item .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ais-Hits-item .cord {
  color: var(--text-color-40);
}

.ais-Hits-item .cord a {
  color: var(--text-color);
  font-weight: normal;
  -webkit-text-fill-color: currentColor;
  text-fill-color: currentColor;
}

.ais-Hits-item .cord a:hover {
  color: var(--link-color);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.ais-Hits-item .id {
  font-family: var(--fontstack-monospace);
  color: var(--text-color-60);
  background: var(--text-color-5);
  padding: 0 .4rem;
  margin: 4px 0;
  border-radius: 4px;
  cursor: pointer;
}

.ais-Hits-item .id:hover {
  color: var(--link-color);
}

.ais-Hits-item .id:focus {
  color: var(--link-color);
  box-shadow: 0 0 0 1px var(--link-color);
}

.ais-Hits-item .id .no-sign {
  opacity: .5;
  user-select: none;
  font-style: normal;
}

/* Sidebar */
.ais-RefinementList-list {
  list-style: none;
  padding-left: 0;
}

.ais-RefinementList-label {
  cursor: pointer;
}

.ais-RefinementList-count {
  float: right;
  color: var(--text-color-40);
}

/* Pagination */
.ais-Pagination-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.ais-Pagination-link {
  color: var(--text-color);
  padding: .6em;
  -webkit-text-fill-color: currentColor;
  text-fill-color: currentColor;
}

.ais-Pagination-item--disabled .ais-Pagination-link {
  color: var(--text-color-30);
}

.ais-Pagination-item--selected .ais-Pagination-link {
  color: var(--link-color);
}
