/* Common */
.header-title {
  font-size: 2em;
  margin: 0;
}

/* Form */
.ais-SearchBox {
  margin-bottom: 1em;
}

.ais-SearchBox-form {
  display: flex;
  align-items: center;
}

.ais-SearchBox-input {
  flex: auto;
  -webkit-appearance: none;
  appearance: none;
  background: var(--text-color-5);
  border-radius: 4px;
  border: 1px solid var(--text-color-10);
  outline: none;
  font-size: 1rem;
  padding: .4em .6em;
}

.ais-SearchBox-input:focus {
  color: var(--link-color);
  border-color: var(--link-color);
}

.ais-SearchBox button {
  -webkit-appearance: none;
  appearance: none;
  background: var(--text-color-5);
  border-radius: 4px;
  border: 1px solid var(--text-color-10);
  outline: none;
  font-size: 1rem;
  padding: .4em .6em;
  margin-left: 1ch;
}

.ais-SearchBox svg {
  fill: var(--text-color);
}

.ais-SearchBox button:focus {
  border-color: var(--link-color);
}

.ais-SearchBox button:focus svg {
  fill: var(--link-color);;
}

/* Result */
.ais-Hits-list {
  list-style: none;
  padding: 0;
  margin: 0;
  word-break: break-word;
}

.ais-Hits-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1ch;
  align-items: center;
  padding: .6em var(--space-sm);
  margin-left: calc(var(--space-sm) * -1);
  margin-right: calc(var(--space-sm) * -1);
  border-bottom: 1px solid var(--text-color-10);
}

@media (max-width: 960px) {
  .ais-Hits-item {
    grid-template-columns: 1fr;
  }
}

.ais-Hits-item:hover {
  background: var(--text-color-3);
}

.ais-Hits-item:hover h1 a {
  color: var(--link-color);
}

mark,
.ais-Highlight-highlighted,
.ais-Snippet-highlighted {
  color: var(--link-color-dark);
  background-image: linear-gradient(to right, #fffb10, #ffc710);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-color: transparent;
  border-bottom: 2px solid #ffc710;
  box-shadow: 0 2px 3px -3px #fffb10;
}

.ais-Hits-item h1 {
  margin: .2em 0;
  font-weight: normal;
}

.ais-Hits-item h1 a {
  color: var(--text-color);
}

.ais-Hits-item h1 .cc {
}

.ais-Hits-item .sponsor {
}

.ais-Hits-item .href {
  color: var(--text-color-40);
}

.ais-Hits-item .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ais-Hits-item .cord {
  color: var(--text-color-40);
}

.ais-Hits-item .cord a {
  color: var(--text-color);
  font-weight: normal;
  -webkit-text-fill-color: currentColor;
  text-fill-color: currentColor;
}

.ais-Hits-item .cord a:hover {
  color: var(--link-color);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.ais-Hits-item .id {
  font-family: var(--fontstack-monospace);
  color: var(--text-color-60);
  background: var(--text-color-5);
  padding: 0 .4rem;
  margin: 4px 0;
  border-radius: 4px;
}

/* Pagination */
.ais-Pagination {

}

.ais-Pagination-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.ais-Pagination-link {
  color: var(--text-color);
  padding: .6em;
  -webkit-text-fill-color: currentColor;
  text-fill-color: currentColor;
}

.ais-Pagination-item--disabled .ais-Pagination-link {
  color: var(--text-color-30);
}

.ais-Pagination-item--selected .ais-Pagination-link {
  color: var(--link-color);
}
